html, body {
	height: 100%;
}
.edit-div{

	float: left;
	min-height: 100%;
	max-height: 100%;
	width: 50%;
}
.view-div{
	float: left;
	width: 40%;
	padding-left: 40px;
	color: #777;
	font-size: 12px;

}

.view-div h1{
	position: relative;
	left: -30px;
	color: #555;
}

.view-div h2{
	position: relative;
	left: -20px;
	color: #555;
}

.view-div h3{
	position: relative;
	left: -10px;
	color: #555;
}

.view-div figure{
	max-width: 80%;
	padding:10px;
	background: #555;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 12px;
	border-radius: 5px 5px 5px 5px;
}
.view-div img{
	width: 100%;
	max-width: 100%;
}
.view-div table td{
	border-style: solid;
	border-color: #ccc;
	border-size: 1px;
	margin-right: 0;
	padding: 5px;
}

#index-list{
	font-size: 8px;
	background: #ccc;
	padding:5px;
	border-color: #bbb;
	border-style: solid;
	border-radius: 5px 5px 5px 5px;
	width: 400px;
}

#index-list h1{
	position: relative;
	left: 10px;
	color: #555;
}

#index-list h2{
	position: relative;
	left: 20px;
	color: #555;
}

#index-list h3{
	position: relative;
	left: 30px;
	color: #555;
}
#index-list hr{
	border-style: solid;
	line-height: 2px;
	color: rgba(0,0,0,0.2);

}

.text-editor 
{
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	max-width: 100%;
	min-width: 100%;
	bottom: 0px;
	top: 0px;
}

